<div [hidden]="submitted" style="width: 300px;"></div>

<!--INÍCIO FORM-->

<form (ngSubmit)="onSubmit()">

<!--INICIO HOSPITAL-->
  
  <div class="container">
    <div class="row">
      <div class="col-sm-12 espacamento">
        <h3 class="text-center">Escolha o hospital desejado:</h3>
      </div>
    </div>
  </div>
  
  <div class="container form-group text-center">  
    <div class="form-check form-check-inline row espacamento teste" *ngFor="let hospital of hospitais">
      <input class="espacamento"
      type="radio"
      name="hospital"
      value="{{ hospital }}"
      (change)="radioChangeHandler($event)"
      id="radioh" [(ngModel)]="chamado.nomeHospital"/> 
        <h5 class="col-sm-" for="radioh"> {{ hospital }} </h5>
    </div>
  </div>

<!--FIM HOSPITAL-->
  
  <!--LOCALIZACAO-->

  <div class="container">
    <div class="row">
      <div class="col-sm-12 espacamento">
        <h3 class="text-center"> Localização da Ocorrência</h3>
      </div>
    </div>
  </div>

 <div class="container d-flex justify-content-center">
   <div class="row">
      <div *ngIf="lat && lng" class="col-sm-12 text-center">

          <agm-map [latitude]="lat" [longitude]="lng" [zoom]="18" class="espacamento">
            <agm-marker [latitude]="lat" [longitude]="lng" >
              <agm-info-window>
                <h3 class="text-center esp"><strong>Localização da Ocorrência</strong></h3>
                  <p class="esp">Você está aqui!!  </p>
                    <input class="espacamento"
                    type="hidden"
                    name="localizacao"
                    id="localizacao" [(ngModel)]="chamado.localizacao"/> 
                      <h5 class="col-sm espacamento form-group" for="localizacao"> {{ lat }} {{ lng }}</h5> 
              </agm-info-window>
            </agm-marker>
      
              <!-- Nearby User Locations-->
              <!--<agm-marker *ngFor="let marker of markers"
              [latitude]="marker.location[0]"
              [longitude]="marker.location[1]"
              [iconUrl]="'https://cdn1.iconfinder.com/data/icons/designer-s-tools-1/512/Coffee-64.png'">
      
              <agm-info-window>
                  <h3><strong>Detalhes da Localização</strong></h3>
                  <p>Você está a {{marker.distance}} quilômetros deste local. </p>
              </agm-info-window>
      
              </agm-marker>-->
          </agm-map>
      </div>
   </div>
 </div>
  
  <!--FIM LOCALIZACAO-->

  <!--INICIO GRAVIDADE-->

  <div class="container">
    <div class="row">
      <div class="col-sm-12 espacamento">
        <h3 class="text-center">Nível de gravidade:</h3>
      </div>
    </div>
  </div>
  
  <div class="container text-center form-group">
    <div class="form-check form-check-inline row espacamento teste text-center" *ngFor="let gravidade of gravidades">
      <input class="espacamento"
      type="radio"
      name="gravidade"
      value="{{ gravidade }}"
      (change)="radioChangeHandler1($event)"
      id="radio1" [(ngModel)]="chamado.gravidade"/> 
        <h5 class="col-sm espacamento" for="radio1"> {{ gravidade }} </h5> 
    </div>
  </div> 

<!--FIM GRAVIDADE-->

<!--INICIO TRAUMAS, FRATURAS, FERIMENTOS-->

  <div class="container">
    <div class="row ">
      <div class="col-sm-12 espacamento">
        <h3 class="text-center">Locais de possíveis traumas, fraturas ou ferimentos:</h3>
        <hr/>
      </div>
    </div>
  </div>
        
  <div class="table-responsive-sm">
    <table class="table table-condensed table-borderless">

      <tr class="info">
        <th><h4>Cabeça</h4></th>
        <th><h4>Tronco</h4></th>
        <th><h4>Membros Superiores</h4></th>
        <th><h4>Membros Inferiores</h4></th>
      </tr>

      <tr>
        <th>
          <div class="form-check csscheckbox espacamento" *ngFor="let cabeca of cabecas">
            <input class="form-check-input csscheckbox testeT" (change)="onChange(cabeca.name, $event.target.checked)"name="{{ cabeca.name }}" type="checkbox" id="{{cabeca.name}}">
              <label class="form-check-label espacamento" for="{{cabeca.name}}">{{cabeca.name}}</label>
          </div>
        </th>

        <th>
          <div class="form-check csscheckbox espacamento" *ngFor="let t of ts">
            <input class="form-check-input csscheckbox testeT" (change)="onChange(t.name, $event.target.checked)"name="{{ t.name }}" type="checkbox" id="{{t.name}}">
              <label class="form-check-label espacamento" for="{{t.name}}">{{t.name}}</label> 
          </div>
        </th>

        <th>
          <div class="form-check csscheckbox espacamento" *ngFor="let ms of mss">
            <input class="form-check-input csscheckbox testeT" (change)="onChange(ms.name, $event.target.checked)"name="{{ ms.name }}" type="checkbox" id="{{ms.name}}">
              <label class="form-check-label espacamento" for="{{ms.name}}">{{ms.name}}</label>
          </div>  
        </th>

        <th>
          <div class="form-check csscheckbox espacamento" *ngFor="let mi of mis">
            <input class="form-check-input csscheckbox testeT" (change)="onChange(mi.name, $event.target.checked)"name="{{ mi.name }}" type="checkbox" id="{{mi.name}}">
              <label class="form-check-label espacamento" for="{{mi.name}}">{{mi.name}}</label>
          </div>
        </th>
      </tr>

    </table>
  </div>         

<!--FIM TRAUMAS, FRATURAS, FERIMENTOS-->

<!--INÍCIO INFORMAÇÕES ADICIONAIS-->

  <div class="container form-group">
    <div class="row ">
      <div class="col-sm-12 espacamento">
        <h3 class="text-center">Insira mais informações à respeito da vítima</h3>
          <input class="form-control" type="text" name="infoAdicionais" id="infoAdicionais" [(ngModel)]="chamado.infoAdicionais">
          <hr/>
      </div>
    </div>
  </div>

<!--FIM INFORMAÇÕES ADICIONAIS-->

<!--INÍCIO SUBMIT FIREBASE-->
    
  <div class="container d-flex justify-content-end">
    <div class="row">
      <div class="col-sm-12">
        <button type="submit" class="btn btn-success btn-lg espacamento" (click)="my" data-toggle="modal" data-target="#exampleModal">Enviar</button>
      </div>
    </div>
  </div>

<!--FIM FIREBASE-->

</form>

<!--FIM FORM-->

<!-- INICIO MODAL -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content text-center">
      
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Confirmação do envio da ocorrência</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
      
        <div class="modal-body">
          <h4>As informações da vítima foram enviadas com sucesso!!</h4>  
        </div>
  
        <div class="modal-footer" >
            <!--[hidden]="!submitted"
            (click)="newChamado()"-->
          <button type="button" class="btn btn-success">Novo chamado</button>
        </div>

    </div>
  </div>
</div>

  